@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Tools es una mediana empresa con sede en Buenos Aires, Argentina. Durante más de 10 años, la marca Tools ha desarrollado soluciones para el hogar, jardín, talleres y ocio. Con representantes en todo el país, comercializa productos innovadores para todo tipo de soluciones.
</p>

<p>
    Tools es una solución, calidad y servicio genuino con la mejor relación precio-calidad. Creado por un gran grupo de amantes de las maquinas y herramientas, para llevar a nuestros clientes calidad confiable y servicio de primera clase, con una relación precio-rendimiento inmejorable..
</p>
<p>
    @Html.ActionLink("Lista de productos", "Create", "Product")
</p>