
@{
    ViewBag.Title = "Index";
}
<aside>
    <h2>Index</h2>
</aside>
<article>
    <h2>Bienvenidos</h2>
    <p>Mientras somos inundados con arte día tras día, hay unas pocas piezas especiales que han trascendido en el tiempo y la cultura y han programado su lugar en la historia del arte. Debajo está la galería de 20 de las más famosas pinturas de todos los tiempos - piezas reconocibles durante los años que nunca serán olvidadas.</p>
    <p>Enn esta pagina se presentan las pinturas mas famosas las cuales pueden adquirirse en forma de copias manualmente realizadas . </p>
    <h3>Una obra de arte</h3>
    <p>Los términos obra de arte y obra artística son las denominaciones que se dan al producto de una creación en el campo del arte, creación a la que se atribuye una función estética o social. Dada la clásica identificación del concepto de «arte» con las bellas artes, suele restringirse el concepto de obra de arte a los productos de estas: los de las artes plásticas, denominadas artes mayores (pintura, escultura y arquitectura), las obras literarias y las obras musicales.</p>
</article>
