
@{
    ViewBag.Title = "SelectProduct";
}
    <link href="~/Content/Site.css" rel="stylesheet" />

<img class="product" src="~/Image/producto1.jpg">

<div>
    <h3>Nombre de producto</h3>

    <p>
        <div class="ec-stars-wrapper">
            <a href="#" data-value="1" title="1 estrella">&#9733;</a>
            <a href="#" data-value="2" title="2 estrellas">&#9733;</a>
            <a href="#" data-value="3" title="3 estrellas">&#9733;</a>
            <a href="#" data-value="4" title="4 estrellas">&#9733;</a>
            <a href="#" data-value="5" title="5 estrellas">&#9733;</a>
        </div>
    </p>
    <p>

        <h4>$1000</h4>
        <input type="button" value="Agregar al carrito" id="addcart">
        <select id="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

    </p>
    <p>

        Aquí otro párrafo de texto. CSS es un lenguaje utilizado en la presentación de documentos HTML. Un documento HTML viene siendo coloquialmente “una página web”.  Así, podemos decir que el lenguaje CSS sirve para dotar de presentación y aspecto, de “estilo”, a una página web.
    </p>
</div>