html, body {
    background-color: #e9eef1;
}

h1, h2, h3, p {
    margin: 10px;
    padding: 0;
}

img {
    width: 100%;
}

    img.product {
        margin: 20px;
        float: left;
        width: 220px;
        height: 350px;
    }

 
p {
    text-align: justify;
}

div.product {
    margin: 20px;
    padding: 5px;
}



section {
    background-color: #fdfdfd;
    width: 60%;
    margin: 20px auto;
    min-height: 500px;
    display: block;
    overflow: auto;
}

header > div > a {
    text-align: left;
    font-size: 50px;
    text-decoration: none;
    padding: 14px 16px;
    color: #737a85;
    font-family: 'Ink Free';
    font-stretch: ultra-condensed;
}

aside {
    float: left;
    margin: 10px;
    width: 32%;
}

article {
    float: left;
    margin: 10px;
    width: 62%;
    background-color: #e2e2e2;
    min-height: 480px;
}

footer {
    background-color: #333945;
    bottom: 0 auto;
    position: fixed;
    width: 100%;
    clear: both;
    color: #afb6b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    background-color: #ced1dc;
}

nav {
    background-color: #333945;
}

    nav > div > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        nav > div > ul > li {
            float: left;
        }

            nav > div > ul > li > a {
                display: block;
                color: #afb6b9;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                nav > div > ul > li > a:hover {
                    background: #ddd;
                    color: black;
                }

.right {
    float: right;
}

.width80Center {
    width: 80%;
    margin: 0 auto;
}

.container {
    position: relative;
    float: left;
    margin: 1.6%;
    width: 30%;
}

.shopImage {
    position: absolute;
    bottom: 4px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

#carouselExampleControls {
    width: 60%
}
/*Estrellas*/

.ec-stars-wrapper {
    font-size: 0;
    display: inline-block;
}

    .ec-stars-wrapper a {
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
        font-size: 2rem;
        color: #888;
    }

    .ec-stars-wrapper:hover a {
        color: rgb(39, 130, 228);
    }

    .ec-stars-wrapper > a:hover ~ a {
        color: #888;
    }