@model IEnumerable<ArtShop.Data.Model.Product>


@{
    ViewBag.Title = "Index";
}

<aside>
</aside>
<article>
    @foreach (var item in Model)
    {
        <div class="container">
            <a href="../Product/SelectProduct/@item.Id">
                <img src="~/Content/Products/@item.Image" alt="@item.Title">
                <div class="shopImage">Left</div>
            </a>
        </div>
    }
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" alt="HTML5 Icon">
        <div class="shopImage">Left</div>

    </div>
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" alt="HTML5 Icon">
        <div class="shopImage">Center</div>
    </div>
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" alt="HTML5 Icon">
        <div class="shopImage">Right</div>
    </div>
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" alt="HTML5 Icon">
        <div class="shopImage">Left</div>
    </div>
    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" alt="HTML5 Icon">
        <div class="shopImage">Center</div>
    </div>
</article>


